body {
  background-image: url('../../assets/images/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color:  #ec716f99;
  font-family: 'Pacifico', cursive;
}

.rules {
  padding: 30px 19px;
  font-family: 'Comfortaa', cursive;
  color:  #ec716f99;
  border: 3px solid lightgrey;
  background: lightgrey;
  opacity: .8;
  font-weight: bold;
  height: 42em;
}


.game {
  font-family: 'Pacifico', cursive;
  color: #ec716f99;
  font-size: 1.5rem;
}